---
// src/layouts/Layout.astro
import '../styles/global.css'; // <--- CONTROLLA QUESTA RIGA
const { title } = Astro.props;
---
<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  </head>
  <body class="bg-wedding-cream font-sans text-wedding-slate antialiased">
    <slot />
  </body>
</html>